In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://www-us.apache.org/dist/spark/spark-3.0.2/spark-3.0.2-bin-hadoop2.7.tgz
!tar xf spark-3.0.2-bin-hadoop2.7.tgz
!pip install -q findspark

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.2-bin-hadoop2.7"

import findspark
findspark.init()

from pyspark.sql import SparkSession 
spark = SparkSession.builder.appName("Basics").config("spark.driver.extraClassPath","/content/postgresql-42.2.9.jar").getOrCreate()

In [ ]:
url ='https://hdietrichawsbucket.s3.ca-central-1.amazonaws.com/employee.csv'

In [ ]:
from pyspark import SparkFiles

spark.sparkContext.addFile(url)
df = spark.read.csv(SparkFiles.get("employee.csv"), sep=",", header=True)

In [ ]:
df.show()

+---+-----------+--------+--------------------+--------+--------------+------+---------+--------+--------------+----------------+--------------------+------------+
|_c0|Employee ID|   Email|            Position|     DOB|Marital Status|Gender|Hire Date|Salaried|Vacation Hours|Sick Leave Hours|  Encrypted Password|    Modified|
+---+-----------+--------+--------------------+--------+--------------+------+---------+--------+--------------+----------------+--------------------+------------+
|  1|  295847284|    ken0|Chief Executive O...| 1/29/69|             S|     M|  1/14/09|       1|            99|              69|F01251E5-96A3-448...|6/30/14 0:00|
|  2|  245797967|  terri0|Vice President of...|  8/1/71|             S|     F|  1/31/08|       1|             1|              20|45E8F437-670D-440...|6/30/14 0:00|
|  3|  509647174|roberto0| Engineering Manager|11/12/74|             M|     M| 11/11/07|       1|             2|              21|9BBBFB2C-EFBB-421...|6/30/14 0:00|
|  4|  112457891|    rob0|Senior Tool Designer|12/23/74|             S|     M|  12/5/07|       0|            48|              80|59747955-87B8-443...|6/30/14 0:00|
|  5|  695256908|   gail0|     Design Engineer| 9/27/52|             M|     F|   1/6/08|       1|             5|              22|EC84AE09-F9B8-4A1...|6/30/14 0:00|
|  6|  998320692| jossef0|     Design Engineer| 3/11/59|             M|     M|  1/24/08|       1|             6|              23|E39056F1-9CD5-478...|6/30/14 0:00|
|  7|  134969118|  dylan0|Research and Deve...| 2/24/87|             M|     M|   2/8/09|       1|            61|              50|4F46DECA-EF01-41F...|6/30/14 0:00|
|  8|  811994146|  diane1|Research and Deve...|  6/5/86|             S|     F| 12/29/08|       1|            62|              51|31112635-663B-401...|6/30/14 0:00|
|  9|  658797903|   gigi0|Research and Deve...| 1/21/79|             M|     F|  1/16/09|       1|            63|              51|50B6CDC6-7570-47E...|6/30/14 0:00|
| 10|  879342154|michael6|Research and Deve...|11/30/84|             M|     M|   5/3/09|       1|            16|              64|EAA43680-5571-40C...|6/30/14 0:00|
| 11|  974026903| ovidiu0|Senior Tool Designer| 1/17/78|             S|     M|  12/5/10|       0|             7|              23|F68C7C19-FAC1-438...|6/30/14 0:00|
| 12|  480168528|thierry0|       Tool Designer| 7/29/59|             M|     M| 12/11/07|       0|             9|              24|1D955171-E773-4FA...|6/30/14 0:00|
| 13|  486228782| janice0|       Tool Designer| 5/28/89|             M|     F| 12/23/10|       0|             8|              24|954B91B6-5AA7-48C...|6/30/14 0:00|
| 14|   42487730|michael8|Senior Design Eng...| 6/16/79|             S|     M| 12/30/10|       1|             3|              21|46286CA4-46DD-4DD...|6/30/14 0:00|
| 15|   56920285| sharon0|     Design Engineer|  5/2/61|             M|     F|  1/18/11|       1|             4|              22|54F2FDC0-87C4-406...|6/30/14 0:00|
| 16|   24756624|  david0|   Marketing Manager| 3/19/75|             S|     M| 12/20/07|       1|            40|              40|E87029AA-2CBA-4C0...|6/30/14 0:00|
| 17|  253022876|  kevin0| Marketing Assistant|  5/3/87|             S|     M|  1/26/07|       0|            42|              41|1B480240-95C0-410...|6/30/14 0:00|
| 18|  222969461|   john5|Marketing Specialist|  3/6/78|             S|     M|   2/7/11|       0|            48|              44|64730415-1F58-4E5...|6/30/14 0:00|
| 19|   52541318|   mary2| Marketing Assistant| 1/29/78|             S|     F|  2/14/11|       0|            43|              41|1F6DA901-C7F7-48A...|6/30/14 0:00|
| 20|  323403273| wanida0| Marketing Assistant| 3/17/75|             M|     F|   1/7/11|       0|            41|              40|43CCA446-DA1C-454...|6/30/14 0:00|
+---+-----------+--------+--------------------+--------+--------------+------+---------+--------+--------------+----------------+--------------------+------------+
only showing top 20 rows

In [ ]:
server= "bootcampdb.cmwhqarpyd9v.ca-central-1.rds.amazonaws.com"
database = "postgres"
port ="5432"
username = "root"
password = "xy92Hdie"

In [ ]:
conn = f"postgres://{username}:{password}@{server}:{port}/{database}"

In [ ]:
from sqlalchemy import create_engine

engine = create_engine(conn, echo=False)

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [ ]:
pandas_df = df.toPandas()

In [ ]:
pandas_df.head()

  _c0 Employee ID  ...                    Encrypted Password      Modified
0   1   295847284  ...  F01251E5-96A3-448D-981E-0F99D789110D  6/30/14 0:00
1   2   245797967  ...  45E8F437-670D-4409-93CB-F9424A40D6EE  6/30/14 0:00
2   3   509647174  ...  9BBBFB2C-EFBB-4217-9AB7-F97689328841  6/30/14 0:00
3   4   112457891  ...  59747955-87B8-443F-8ED4-F8AD3AFDF3A9  6/30/14 0:00
4   5   695256908  ...  EC84AE09-F9B8-4A15-B4A9-6CCBAB919B08  6/30/14 0:00

[5 rows x 13 columns]

In [ ]:
pandas_df.to_sql("employee", con=engine, if_exists = 'replace')

In [ ]:
import pandas as pd
final_df = pd.read_sql_table("employee", conn)
final_df.head()

   index _c0  ...                    Encrypted Password      Modified
0      0   1  ...  F01251E5-96A3-448D-981E-0F99D789110D  6/30/14 0:00
1      1   2  ...  45E8F437-670D-4409-93CB-F9424A40D6EE  6/30/14 0:00
2      2   3  ...  9BBBFB2C-EFBB-4217-9AB7-F97689328841  6/30/14 0:00
3      3   4  ...  59747955-87B8-443F-8ED4-F8AD3AFDF3A9  6/30/14 0:00
4      4   5  ...  EC84AE09-F9B8-4A15-B4A9-6CCBAB919B08  6/30/14 0:00

[5 rows x 14 columns]

In [ ]:
!wget https://jdbc.postgresql.org/download/postgresql-42.2.9.jar

--2021-03-12 01:43:24--  https://jdbc.postgresql.org/download/postgresql-42.2.9.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 914037 (893K) [application/java-archive]
Saving to: ‘postgresql-42.2.9.jar.5’

postgresql-42.2.9.j 100%[===================>] 892.61K  --.-KB/s    in 0.1s

2021-03-12 01:43:24 (5.99 MB/s) - ‘postgresql-42.2.9.jar.5’ saved [914037/914037]

In [ ]:
mode = 'append'
jdbc_conn = f"jdbc:postgresql://{server}:{port}/{database}"
config = {"user":"root", "password":"xy92Hdie","driver":"org.postgresql.Driver"}

In [ ]:
df.write.jdbc(url=jdbc_conn, table="employee1", mode=mode, properties=config)